.game-canvas {
  border: 1px solid gray;
  margin: auto;
  display: block;
  position: relative;
  background-color: red;
  visibility: hidden;
}

.start-screen{
  background-color: blue;
  height: 300px;
  width: 400px;
  display: block;
  position: absolute;
  margin-left: 500px;
  margin-top: 75px;
  text-align: center;
  font-size: 35px;
}

body{
  background: url("images/breakout-background.jpg") no-repeat;
  background-size: cover;
  font-family: 'Bungee Shade', cursive;
}

.start-button{
  font-size: 25px;
  font-family: 'Bungee Shade', cursive;
  background-color: red;
}

.level-up{
  visibility: hidden;
}
